/falp/others/
/falp/lects/lect_01/*.m4a
/falp/lects/lect_02/*.m4a
/falp/lects/lect_03/*.m4a
/falp/labs/audio_labs/lab_01/*.m4a

/ecol/lects/lect_01/*.m4a
/ecol/lects/lect_02/*.m4a
/ecol/lects/lect_03/*.m4a

/ppo/lects/lect_02/*.m4a
/ppo/sems/sem_01/*.m4a
/ppo/labs/lab_01/img/scheme_drawio/*.bkp
/ppo/gitlab_ppo/

/os/lects/lect_01/*.m4a
/os/labs/audio_labs/*.m4a
/os/.vscode/

/mathstat/Matlab 2023b/

/model/lects/lect_01/*.m4a
/model/lects/lect_02/*.m4a
/model/labs/.idea
/model/labs/lab_01/src/__pycache__

/bir/lects/lect_01/*.m4a
