/falp/others/
/falp/lects/lect_01/*.m4a
/falp/lects/lect_02/*.m4a

/ecol/lects/lect_01/*.m4a
/ecol/lects/lect_02/*.m4a
/ecol/lects/lect_03/*.m4a

/ppo/lects/lect_02/*.m4a

/os/lects/lect_01/*.m4a
/os/labs/audio_labs/*.m4a